.resumeButton {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 12px;
  cursor: pointer;
  background-color: black;
  letter-spacing: 1.4px;
  color: #FAFAFA;

}

.buttonShadow {
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;   
  text-align: center;
}

.buttonShadow a {
  display: block;
  text-decoration: none;  
  color: #FAFAFA;
}

.buttonShadow::after{
  z-index: -1;
  opacity: 0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
}

.buttonShadow:hover {
  transform: scale(1.10, 1.10);
  opacity: 1;  
}

.buttonShadow:hover::after {
  opacity: 1;
}

.social-btn {
  padding: 15px;
  background-color: transparent;
  -webkit-filter: drop-shadow(1px 10px 25px lightgrey);
  filter: drop-shadow(1px 10px 25px lightgrey);
  transition: all 0.3s ease-in-out;
}

.social-btn:hover {
  transform: scale(1.25, 1.25);
}

.btn-center {
  text-align: center;
  margin: 0 auto;
}

.socialContainer {
  margin-top: 20px;
}