/* Univers Font Classes */
.univers-condensed { 
	font-family: UniversLT-Condensed;
	font-weight: normal;
	font-style: normal;
}
.univers-bold-cn { 
	font-family: UniversLT-CondensedBold;
	font-weight: normal;
	font-style: normal;
}
.univers-light-obl { 
	font-family: UniversLTStd-LightObl;
	font-weight: normal;
	font-style: normal;
}
.univers-black { 
	font-family: UniversLTStd-Black;
	font-weight: normal;
	font-style: normal;
}
.univers-bold-obl { 
	font-family: UniversLTStd-BoldObl;
	font-weight: normal;
	font-style: normal;
}
.univers-bold{ 
	font-family: UniversLTStd-Bold;
	font-weight: normal;
	font-style: normal;
}
.univers { 
	font-family: UniversLTStd;
	font-weight: normal;
	font-style: normal;
}
.univers-black-obl { 
	font-family: UniversLTStd-BlackObl;
	font-weight: normal;
	font-style: normal;
}
.univers-obl { 
	font-family: UniversLTStd-Obl;
	font-weight: normal;
	font-style: normal;
}
.univers-light{ 
	font-family: UniversLTStd-Light;
	font-weight: normal;
	font-style: normal;
}
.univers-ex { 
	font-family: UniversLTStd-Ex;
	font-weight: normal;
	font-style: normal;
}
.univers-xblack-obl { 
	font-family: UniversLTStd-XBlackObl;
	font-weight: normal;
	font-style: normal;
}
.univers-xblack-ex { 
	font-family: UniversLTStd-XBlackEx;
	font-weight: normal;
	font-style: normal;
}
.univers-bold-ex-obl { 
	font-family: UniversLTStd-BoldExObl;
	font-weight: normal;
	font-style: normal;
}
.univers-bold-ex { 
	font-family: UniversLTStd-BoldEx;
	font-weight: normal;
	font-style: normal;
}
.univers-cn-obl { 
	font-family: UniversLTStd-CnObl;
	font-weight: normal;
	font-style: normal;
}
.univers-light-cn { 
	font-family: UniversLTStd-LightCn;
	font-weight: normal;
	font-style: normal;
}
.univers-ex-obl { 
	font-family: UniversLTStd-ExObl;
	font-weight: normal;
	font-style: normal;
}
.univers-xblack { 
	font-family: UniversLTStd-XBlack;
	font-weight: normal;
	font-style: normal;
}
.univers-light-cn-obl { 
	font-family: UniversLTStd-LightCnObl;
	font-weight: normal;
	font-style: normal;
}
.univers-ultracn { 
	font-family: UniversLTStd-UltraCn;
	font-weight: normal;
	font-style: normal;
}
.univers-light-ultracn { 
	font-family: UniversLTStd-LightUltraCn;
	font-weight: normal;
	font-style: normal;
}
.univers-thin-ultracn { 
	font-family: UniversLTStd-ThinUltraCn;
	font-weight: normal;
	font-style: normal;
}
.univers-xblack-ex-obl { 
	font-family: UniversLTStd-XBlackExObl;
	font-weight: normal;
	font-style: normal;
}
.univers-bold-cn-obl { 
	font-family: UniversLTStd-BoldCnObl;
	font-weight: normal;
	font-style: normal;
}
.univers-black-ex-obl { 
	font-family: UniversLTStd-BlackExObl;
	font-weight: normal;
	font-style: normal;
}
.univers-black-ex { 
	font-family: UniversLTStd-BlackEx;
	font-weight: normal;
	font-style: normal;
}

