.header {
  text-align: center;
}

.size-image {
  width: 80%;
  height: 80%;
  margin: 50px auto 0px auto;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.medium-image-inline {
  width: 50%;
  height: 50%;
  margin: 20px auto 70px auto;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.flow-image-inline {
  width: 100%;
  height: 100%;
}

.centeredTextContainer {
  text-align: center;
  margin: auto;
}

.centeredContainer {
  margin: auto;
}

.projectHeader {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 2.5px;
  padding: 15px;
  width: 100%;
}

.captionText {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 300;
  padding: 10px;
}

p {
  font-size: 16px;
  font-weight: 300;
  font-family: Roboto, sans-serif;
  margin-bottom: 5px;
  line-height: 26px;
}


/* Begin Centered List Info*/

.p-list {
  text-align: center;
}


.a-list {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  margin: auto;
  font-size: 32px;
  letter-spacing: 1.5px;
  padding: 20px;
  text-align: center;
}

.b-list {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.5px;
  margin: auto;
  padding: 20px 0px 10px 0px;  
}

/* End Centered List Info*/


/*Begin Regular Header Info*/

.a-head {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.5px;
  padding-bottom: 20px;
}

.body {
  padding: 10px 200px 20px 70px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.body-left {
  padding: 10px 100px 20px 55px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.centered-list {
  display: list-item !important;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  padding-bottom: 0px;
  font-weight: 300;
}

.bulletList {
  list-style-type: disc !important;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-align: left;
  padding: 10px 200px 20px 20px;
}

.bullet {
  display: list-item !important;
  padding-bottom: 0px;
  padding-left: 1px;
}

.numberList {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-align: left;
  padding: 10px 200px 20px 20px;
}

.portfolio-img {
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  margin-bottom: 15px;
}

.flowchart {
  margin-bottom: 15px;
}


@media (max-width: 768px) {

  .a-head{
    font-family: Oswald,sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding: 20px;
  }

  .a-list {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    margin: auto;
    font-size: 28px;
    letter-spacing: 1.5px;
    padding: 10px;
    text-align: center;
  }

  .b-list {
    font-family: Oswald, sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin: auto;
    padding: 10px 0px 5px 0px;  
  }

  .p-list p {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
  }


  .body {
    padding: 10px 20px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
  }

  .body-left {
    padding: 10px 20px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
  }

  .projectHeader {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1.5px;
    padding: 10px;
    width: 100%;
  }

  .captionText {
    padding: 5px;
  }

  .centered-list {
    display: list-item !important;
    font-family: Roboto, sans-serif;
    font-size: 14px;
  }

  .centeredContainer {
    margin: auto;
    padding-left: 20px;
  }

  .bulletList {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-align: left;
    padding: 10px 20px;
  }

  .numberList {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-align: left;
    padding: 10px 20px;
  }
  
  .medium-image-inline {
    width: 95%;
    height: 95%;
    margin: 20px auto 70px auto;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  }
  
  .portfolio-img {
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    margin-bottom: 5px;
  }

}  